$green-blue: #4ea0aa; // green-blue-
$green: #63978a; // green
$cream: #e8e4d1;
$purple: #473050;
$blue: #1c3968;
$dark-grey: #666868;
$orange: #e65c25;
$red: #ce202c;
$brown: #301710;
$light-grey: #e9e9ea;

.fill-green-blue {background-color: $green-blue;}
.fill-green {background-color: $green;}
.fill-cream {background-color: $cream;}
.fill-purple {background-color: $purple;}
.fill-blue {background-color: $blue;}
.fill-dark-grey {background-color: $dark-grey;}
.fill-orange {background-color: $orange;}
.fill-red {background-color: $red;}
.fill-brown {background-color: $brown ;}
.fill-light {background-color:$light-grey ;}

/*
#7bb8bf // green-blue-1
#a5ced3 // green-blue-2
#d3e7ea // green-blue-3

#63978a // green
#8bb1a7
#b0cac4
#d7e4e1


#e8e4d1 // cream
#edeadb
#f4f1e8
#f9f9f4

#473050 // purple
#76657c
#a297a7
#d0cad2

#1c3968 // blue
#536788
#8d9bb2
#c5ccd8

#666868 // dark grey
#8c8c8e
#b2b3b3
#d9d9d8

#e65c25 // orange
#ed835f
#f3ac94
#f8d5c9

#ce202c // red
#dc5b63
#e79097
#f3c8cb

#301710 // dark brown
#65514d
#968a87
#cac4c2

#e9e9ea // light grey
*/