/* Here you will find all of the styles relating to 
*  the grid in use for ENTSO-E we apps
*  it's based of a 12 column grid where 
*  each column is a percentage of the entire width

*  There is a limiter container to constrain to a 
*  max-width of 1000px!
-------------------------------------------------- */

@import 'node_modules/jeet/jeet';



/* Truncated text
   ========================================================================== */

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Clearfix
   ========================================================================== */

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


/*
* getting the grid sorted
------------------------------------*/


.limiter {
    width: 83%;
    max-width: 1100px;
    
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}


@include media(xsmall-only) {
  .limiter {padding-left:20px; padding-right:20px;}
}

// @include media(small-up) {display: block;};

/* Rows
   ========================================================================== */

.row {
  @extend .clearfix;
  padding-left: $global-spacing;
  padding-right: $global-spacing;

  @include media(small-up) {
    padding-left: $global-spacing * 2;
    padding-right: $global-spacing * 2;
  }

  @include media(xlarge-up) {
    padding-left: $global-spacing * 4;
    padding-right: $global-spacing * 4;
  }
  
  &--centered {
    max-width: $row-max-width;
    margin-left: auto;
    margin-right: auto;
  }
}