/* Inline Elements: Defaults
------------------------------------------------------- */
body,
input,
textarea {
  color:#404040;
  color:rgba(0,0,0,0.75);
  font:15px/20px 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body { background:#fff; }
.dark { color:#fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Open Sans Bold', sans-serif;
  font-weight:normal;
  margin:0;
  }

em h1, h1 em,
em h2, h2 em,
em h3, h3 em,
em h4, h4 em,
em h5, h5 em,
em h6, h6 em {
  font-family:'Open Sans Bold Italic', sans-serif;
  }

h1 {
  font-size:30px;
  line-height:40px;
  }
h2 {
  font-size:22px;
  line-height:30px;
  padding-top: 5px;
  padding-bottom:5px;
  }

h3 {
  font-size:15px;
  line-height:20px;
  }

h4, h5, h6 {
  font-size:12px;
  line-height:20px;
  }

p { margin-bottom:20px; }

p:last-child { margin-bottom:0; }

small,
.prose.small,
.small {
  font-size:12px;
  line-height:20px;
  letter-spacing:0;
  }

small { display:block; }

.micro,
.prose .micro,
.prose.micro {
  font-size:10px;
  line-height:20px;
  letter-spacing:0;
  }

.strong,
strong {
  font-family:'Open Sans Bold', sans-serif;
  font-weight:normal;
  }
  strong em,
  em strong { font-family:'Open Sans Bold Italic', sans-serif; }

address,
em {
  font-family:'Open Sans Italic', sans-serif;
  }

/* Fancy font style */

h1.fancy,
h2.fancy,
h3.fancy {
  font-family:'Brandon', sans-serif;
  }

h1.fancy {
  font-size:60px;
  line-height:80px;
  letter-spacing:3px;
  text-transform: uppercase;
  }
h2.fancy {
  padding-top: 0;
  padding-bottom: 0;
  font-size:40px;
  letter-spacing:2px;
  line-height:50px;
  text-transform: uppercase;
  }

.prose-big h3.fancy,
h3.fancy {
  font-size:28px;
  letter-spacing:2px;
  line-height:40px;
  text-transform: uppercase;
  }

/* deprecated */
h1.futura,
h2.futura,
h3.futura {
  font-family:'Brandon', sans-serif;
  }

h1.futura {
  font-size:60px;
  line-height:80px;
  letter-spacing:3px;
  text-transform: uppercase;
  }
h2.futura {
  padding-top: 0;
  padding-bottom: 0;
  font-size:40px;
  letter-spacing:2px;
  line-height:50px;
  text-transform: uppercase;
  }

.prose-big h3.futura,
h3.futura {
  font-size:28px;
  letter-spacing:2px;
  line-height:40px;
  text-transform: uppercase;
  }

/* Links */
a,
a > code {
  color:#3887BE;
  text-decoration:none;
  }
  a:hover > code,
  a.active,
  a:hover { color:#63b6e5; }
  a:focus {
    box-shadow:inset 0 0 0 1px rgba(0,0,0,0.05);
  }

.dark a,
a.dark,
.dark a > code  { color:rgba(255,255,255,.5); }
a.dark.active,
.dark a.active,
a.dark:hover,
.dark a:hover > code,
.dark a:hover { color:white; }
.dark a:focus {
    box-shadow:inset 0 0 0 1px rgba(255,255,255,0.05);
  }

a.quiet,
a.quiet > code {
  color:rgba(0,0,0,0.5);
  }
a.quiet.active, a.quiet:hover { color:rgba(0,0,0,0.75); }

.dark a.quiet,
a.quiet.dark { color:white; }

.dark a.quiet:hover,
a.quiet.dark.active, a.quiet.dark:hover { color:rgba(255,255,255,0.5); }
